.mr-5 {
    margin-right: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.pr-5 {
    padding-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.text-right {
    float: right;
    cursor: pointer;
}

.sort-selected::after {
    content: '\f12';
    float: right;
    margin: -19px 10px;
}

.dropdown-menu {
    min-width: 216px;
}